<div style="background-image: url(/images/pan_lead_guitar.jpg); height: 100px;text-align: center;">
   <div>
        <div>
            <h2 style="color: white; float: left; padding: 12px" >Contact</h2>
        </div>
        <div>
         <h4 style="color: white; float: right; padding: 30px"><a href="#!/">Home</a><label>/</label>Contact</h4>
        </div>
    </div>   
    
</div>

<div class="contact-text">
    <div class="col-md-3 contact-left">
        <div class="address">
            <h5>Adresse</h5>
            <p>Airbrass, 
                <span>Lorem ipsum dolor,</span>
                23-25 Avenue du Dr Lannelongue</p>
        </div>
        <div class="address">
            <h5>infos </h5>
            <p>Tel:+331 759 278 93, 
                <span>Fax:+331 479 268 21</span>
                Email: <a href="mailto:example@email.com">contact@airbrass.com</a></p>
        </div>
    </div>
    <div class="col-md-9 contact-right">
        <form>
            <input type="text" placeholder="Nom">
            <input type="text" placeholder="Tél">
            <input type="text"  placeholder="Email">
            <textarea placeholder="Message" required=""></textarea>
            <div class="submit-btn">
                <input type="submit" value="ENVOYER">
            </div>
        </form>
    </div>	
    <div class="clearfix"></div>
</div>